
<!DOCTYPE html>
<html>
<head>


     

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>  
            #rightbox{ 
                float:right; 
                background:blue; 
                width:25%; 
                height:280px; 
            }
            .dialogue{
              font-family:"Comic Sans MS", cursive, sans-serif;
            }

    </style>

    <title>Qary</title>


</head>
 <body style="background-color: rgb(255, 255, 255); position: relative; float: none; opacity: 1; text-align: left;">



<!-- navbar -->
<div class="navbar navbar-dark bg-dark">
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'qary_post:list'%}">Blog</a>
    <a class="navbar-brand "href="{% url 'question'%}">BOT</a>
     <a class="navbar-brand "href="https://github.com/nlpia/nlpia-bot">Github</a>
     <a class="navbar-brand" href="{% url 'team'%}">Team</a>
      <a class="navbar-brand" href="{% url 'nlpia'%}">NLPIA</a>

      {%if user.is_authenticated%}
      <a class="navbar-brand" href="{% url 'profile'%}">Profile</a>
      <a class="navbar-brand" href="{% url 'logout'%}">Logout</a>
      {%else%}
      <a class="navbar-brand" href="{% url 'login'%}">Login</a>
      <a class="navbar-brand" href="{% url 'register'%}">Register</a>
      {%endif%}
      
      <form class="form-inline my-2 my-lg-0 " action="http://www.google.com/search" method="GET">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>



<!-- ------------------------------------------ -->




        {% if messages%}
          {% for message in messages%}
              <div class='alert alert-{{message.tags}}'>
                {{message}}
              </div>
          {% endfor %}
        {% endif %}

<div class="container">
  <br>
        

      {% block body_block%}
        {% endblock %}
</div>








 <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- --------------------footer---------------------------- -->


    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">©Totalgood 2019-2020</small>
        </div>
    
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://github.com/nlpia/nlpia-bot">Resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'team'%}">Team</a></li>
          </ul>
        </div>
      </div>
    </footer>

</body>
</html>


