

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="parul_bot" id="option1" autocomplete="off" checked> parul_bot
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="basebot" id="option2" autocomplete="off"> basebot
  </label>
</div>




<form class="" action="." method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="Submit" name="parul_bot" value="parul_bot"/>
</form>
<form class="" action="." method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="Submit" name="basebot" value="basebot"/>
</form>



<!-- post list  -->


{% extends 'home.html'%}

{% block body_block%}

<ul class="list-group" style="text-align: center; ">
    {% for p in posts %}
  <li class="list-group-item" >
    
    <a href="{{p.id}}" class="d-inline-block mb-2 text-success">{{p.title}}</a>
  </li>
    {%endfor%}
</ul>

{% endblock %}