{% extends 'home.html'%}
{% block body_block%}


{% for p in posts %}
 <center>
      <div class="col-md-6" >

      	
      	
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start"  spellcheckker="false" style='text-align: justify;' >
              <a href="{{p.id}}" class="d-inline-block mb-4 text-success">{{p.title}}</a>
              {{p.create_date}}
              <h3 class="mb-0">


              	 <img class="rounded-circle account-img mb-2" src="{{user.profile.image.url}}">

                <p>{{p.author}}</p>
              </h3>
              <p class="card-text mb-auto">{{p.text|safe}}</p>
              
            </div>
          </div>
    </div>
{%endfor%}

{% endblock %}